
body {
    font-family: 'Barlow Condensed', sans-serif;
    width: 800px;
    font-size: 39px;
    margin: auto;
    background-color: #292831;
    color: white;
}
a:link {
    color: #4A7A96;
}
a:visited {
    color: #4A7A96;
}

h1 {
    font-size: 50px;
    margin: 0;
}

hr {
    height: 1px;
    width: 100%;
    border-top: 1px solid white;
}

.underlined {
    text-decoration: underline;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

.presskit {
    display: block;
    font-size: 31px;
    margin-bottom: 40px;
}

.quote {
    padding-left: 24px;
    border-left: 1px #4A7A96 dotted;
    font-size: 24px;
}

#gronland-logo img {
    width: 650px;
    margin-top: 86px;
    margin-bottom: 31px;
}

.photobox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px;
}

.photobox .sixforty {
    width: 640px;
}

#steam-logo {
    height: 50px;
}

#steam-logo a img {
    padding-top: 20px;
}

#mail-icon {
    text-align: center;
}
#mail-icon img {
    width: 50px;
}

table {
    border-top: 1px #4A7A96 dotted;
    width: 100%;
}

td {
    width: 50%;
    padding: 12px;
    border-bottom: 1px #4A7A96 dotted;
}
