body {
    font-family: 'Barlow Condensed', sans-serif;
    width: 800px;
    font-size: 24px;
    margin: auto;
    line-height: 1.5em;
    background-color: #292831;
    color: white;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 39px;
}
h3 {
    font-size: 31px;
}

.fullscreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#studio-info{
    font-size: 39px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

#game-names-title {
    font-size: 31px;
    text-decoration: underline;
}

#game-info {
    border-bottom: 1px solid black;
    padding-bottom: 50px;
    margin-bottom: 150px;
}